* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.nav {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0);
}
.content {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}
.content li{
    float: left;
}
.cinput {
    float: right;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 16px;
    padding: 14px 16px;
    outline: none;
    border: 1px solid grey;
    border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.cinput:focus {
    background-color: rgba(255, 255, 255);
}
.clink {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.clink:hover{
    color: rgba(255, 255, 255, 1);
}
.nav::after {
    content: "";
    clear: both;
    display: table;
}
.banner{
    width: 100%;
    height: 250px;
    background-image: url("img/background1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner div{
    width: 85%;
    position: relative;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
.nav2 {
    width: 100%;
    background-color: white;
}
.nav2 .content{
    list-style-type: none;
    width: 85%;
    margin: 5px auto;
    overflow: hidden;
}
.nav2 .content li .clink{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.nav2 .content li .clink:hover{
    color: rgba(0, 0, 0, 1);
}
.nav2::after {
    content: "";
    clear: both;
    display: table;
}
.page {
    width: 100%;
    height: 495px;
}
.footer{
    width: 100%;
    text-align: center;
    background-color: rgba(15, 15, 15);
}
.fcontent {
    list-style-type: none;
    width: 800px;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
.fcontent li{
    float: left;
}